<div class="flex flex-col flex-auto w-full">

    <!-- Header -->
    <div class="bg-card">
       <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
           <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
               <!-- Avatar and name -->
               <div class="flex flex-auto items-center min-w-0">
                   <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                       <img
                           class="w-full h-full object-cover"
                           src="assets/images/avatars/brian-hughes.jpg">
                   </div>
                   <div class="flex flex-col min-w-0 ml-4">
                       <ng-container>
                           <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Bon retour, {{user.firstName}}!</div>
                       </ng-container>
                       <div class="flex items-center">
                           <mat-icon
                               class="icon-size-5"
                               [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                           <div class="ml-1.5 leading-6 truncate text-secondary">You have 3 notifications</div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

       <!-- Title and action buttons -->
       <div class="flex items-center justify-between w-full">
           <div>
               <h2 class="text-3xl font-semibold tracking-tight leading-8">Rendez-vous</h2>
               <div class="font-medium tracking-tight text-secondary">Gérez ici vos rendez-vous</div>
           </div>
           <div class="flex items-center ml-6">
               <button
                   class="hidden sm:inline-flex ml-3"
                   mat-flat-button
                   [color]="'primary'">
                   <mat-icon
                       class="icon-size-5"
                       [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                   <span class="ml-2">Créer un rendez-vous</span>
               </button>

               <!-- Actions menu (visible on xs) -->
               <div class="sm:hidden">
                   <button
                       [matMenuTriggerFor]="actionsMenu"
                       mat-icon-button>
                       <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                   </button>
                   <mat-menu #actionsMenu="matMenu">
                       <button mat-menu-item>Créer un rendez-vous</button>
                   </mat-menu>
               </div>
           </div>
       </div>

       <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
           <!-- Recent transactions table -->
           <div class="xl:col-span-4 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
               <div class="p-6">
                   <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Historique des rendez-vous</div>
                   <div class="text-secondary font-medium">1 en attente, 4 effectués</div>
               </div>
               <div class="overflow-x-auto mx-6">
                   <table
                       class="w-full bg-transparent"
                       mat-table
                       matSort
                       [dataSource]="recentTransactionsDataSource"
                       [trackBy]="trackByFn"
                       #recentTransactionsTable>

                       <!-- Transaction ID -->
                       <ng-container matColumnDef="transactionId">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef>
                               Transaction ID
                           </th>
                           <td
                               mat-cell
                               *matCellDef="let transaction">
                               <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                   {{transaction.transactionId}}
                               </span>
                           </td>
                       </ng-container>

                       <!-- Date -->
                       <ng-container matColumnDef="date">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef>
                               Date
                           </th>
                           <td
                               mat-cell
                               *matCellDef="let transaction">
                               <span class="pr-6 whitespace-nowrap">
                                   {{transaction.date | date:'MMM dd, y'}}
                               </span>
                           </td>
                       </ng-container>

                       <!-- Name -->
                       <ng-container matColumnDef="name">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef>
                               Name
                           </th>
                           <td
                               mat-cell
                               *matCellDef="let transaction">
                               <span class="pr-6 whitespace-nowrap">
                                   {{transaction.name}}
                               </span>
                           </td>
                       </ng-container>

                       <!-- Amount -->
                       <ng-container matColumnDef="amount">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef>
                               Amount
                           </th>
                           <td
                               mat-cell
                               *matCellDef="let transaction">
                               <span class="pr-6 font-medium whitespace-nowrap">
                                   {{transaction.amount | currency:'USD'}}
                               </span>
                           </td>
                       </ng-container>

                       <!-- Status -->
                       <ng-container matColumnDef="status">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef>
                               Status
                           </th>
                           <td
                               mat-cell
                               *matCellDef="let transaction">
                               <span
                                   class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                   [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.status === 'pending',
                                               'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.status === 'completed'}">
                                   <span class="leading-relaxed whitespace-nowrap">{{transaction.status}}</span>
                               </span>
                           </td>
                       </ng-container>

                       <!-- Footer -->
                       <ng-container matColumnDef="recentOrdersTableFooter">
                           <td
                               class="py-6 px-0 border-0"
                               mat-footer-cell
                               *matFooterCellDef
                               colspan="6">
                           </td>
                       </ng-container>

                       <tr
                           mat-header-row
                           *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                       <tr
                           class="order-row h-16"
                           mat-row
                           *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                       <tr
                           class="h-16 border-0"
                           mat-footer-row
                           *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                   </table>
               </div>
           </div>

       </div>

   </div>

</div>
