<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="assets/images/pages/profile/cover.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    src="assets/images/avatars/male-04.jpg"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{user.firstName}} {{user.lastName}}</div>
                <div class="text-secondary">{{user.email}}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="text-sm font-medium text-secondary">UN BON EMPLOYE</span>
                </div>
            </div>
        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">

        <form class="xl:col-span-4 flex flex-col flex-auto bg-card shadow rounded-2xl mt-8 overflow-hidden"
        [formGroup]="profileForm"
    >
        <!-- Alert -->
        <div class="flex flex-col p-8" *ngIf="showAlert">
            <fuse-alert
                class="mb-4"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>

        <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
            <p class="text-lg font-medium">Information générale</p>
            <p class="text-secondary">Vous pouvez changer ces informations</p>
        </div>
        <div class="flex flex-col p-8">
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Nom</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput [formControlName]="'lastName'">
                </mat-form-field>
            </div>
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Prénoms</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput [formControlName]="'firstName'">
                </mat-form-field>
            </div>
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Adresse email</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput [formControlName]="'email'">
                </mat-form-field>
            </div>
        </div>

        <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
            <p class="text-lg font-medium">Horaire de travail</p>
            <p class="text-secondary">Gérer l'horaire de travail</p>
        </div>
        <div class="flex flex-col p-8">
            <mat-form-field>
                <mat-label>Horaire de travail</mat-label>
                <mat-select [formControlName]="'workSchedule'">
                    <mat-option [value]="ho" *ngFor="let ho of horaireList">{{ho}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
            <button mat-button (click)="cancel()">
                Annuler
            </button>
            <button
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'"
                [disabled]="profileForm.disabled"
                (click)="updateProfile()">
                <span *ngIf="!profileForm.disabled">
                    Metttre à jour
                </span>
                <mat-progress-spinner
                    *ngIf="profileForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    </div>

</div>
